

.to-do-list{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:  background-color 0.5s ease;
}
.add-btn{
  background-color: rgb(53, 176, 53);
}
.add-btn:hover{
  background-color: rgb(45, 129, 45);
}
.delete-btn{
  background-color: rgb(234, 56, 56);
}
.delete-btn:hover{
  background-color: rgb(179, 20, 38);
}
.move-btn{
  background-color: rgb(56, 184, 234);
}
.move-btn:hover{
  background-color: rgb(17, 125, 168);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgba(82, 77, 77, 0.967);
  border-radius: 5px;
  color: rgb(20, 19, 19);
}
ol{
  padding: 0px;
}
li{
  font-size: 2rem;
  font-weight: bold;
  background-color:white;
  margin-bottom: 10px;
  border: 3px solid rgb(173, 155, 155);
  border-radius: 5px;
  display: flex;
  align-items: center;

}
.text{
  flex:1;
}
.delete-btn,.move-btn{
    padding: 8px 12px;
    font-size: 2.4rem;
    margin-left: 10px;
    
}
body{
  background-color: black;
}
h1{
  color: antiquewhite;
  font-size: 4.3rem;
}
